.board {
	display: inline-block;
	width: 46%;
	background: #fff;
	margin: 2%;
}

.board_header {
	border-bottom: 1px solid #aaa;
	padding: 20px;
	padding-left: 30px;
}
.board_header a {
	display: inline-block;
	vertical-align: middle;
}

.board_header .board__title {
	font-size: 25px;
	font-weight: 600;
}

.board_header .board__more img {
	margin-top: 15px;
	margin-left: 10px;
	height: 22px;
}
.board_list {
	padding: 20px;
}
.board_list ul li {
	margin-top: 10px;
	font-size: 0;
}
.board_list ul li:first-child {
	margin-top: 0;
}
.board_list a,
.board_list span {
	display: inline-block;
	vertical-align: middle;
}

.board_list a {
	width: 80%;
	font-size: 18px;
}

.board_list span {
	width: 20%;
	text-align: right;
	font-size: 14px;
	color: #777;
}
