.board {
	display: inline-block;
	width: 46%;
	background: #fff;
	margin: 2%;
	/* min-width: 360px; */
	border: 1px solid #ddd;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.board_header {
	border-bottom: 1px solid #aaa;
	padding: 20px;
	padding-left: 30px;
}
.board_header a {
	display: inline-block;
	vertical-align: middle;
}
.board__title {
	font-family: "BMHANNAAir";
}
.board_header .board__title {
	font-size: 25px;
	font-weight: 600;
}

.board_header .board__more img {
	margin-left: 10px;
	height: 22px;
}
.board_list {
	padding-bottom: 20px;
}
.board_list ul li {
	/* margin-top: 10px; */
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 0;
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
}
.board_list ul li:hover {
	background-color: #f5f5f5;
}
.board_list ul li:first-child {
	margin-top: 0;
}
.board_list a,
.board_list span {
	display: inline-block;
	vertical-align: middle;
}

.board_list a {
	width: 80%;
	font-size: 18px;
}

/* date font */
.board_list span {
	width: 20%;
	text-align: right;
	font-size: 14px;
	color: #777;
}
.board_tag {
	display: inline-block;
	font-size: 15px;
	font-weight: 550;
	margin-right: 5px;
	color: crimson;
}
.board_item_title {
	display: inline-block;
	font-family: "KOMACON";
}

@media (max-width: 950px) {
	.board {
		margin: 0 auto;
		width: 100%;
		margin-top: 2%;

		/* min-width: 900px; */
	}
	.board_header {
		padding: 15px;
	}
	.board_list > ul > li {
		padding-right: 10px;
		padding-left: 10px;
	}
	.board_list a {
		font-size: 15px;
	}
	.board_list span {
		display: none;
	}
	.board_tag {
		display: block;
		font-size: 12px;
	}
}
