@font-face {
	font-family: "Recipekorea";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MapoPeacefull";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "BMHANNAAir";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "KOMACON";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	min-height: 100vh;
}
a {
	text-decoration: none;
	color: black !important;
}
#root
	> div
	> div.header
	> nav
	> header
	> div.mobile_dropdown
	> div
	> div.menu.transition.visible {
	position: absolute !important;
	left: -60px !important;
	top: 20px !important;
}
#root > div > div.header > nav > header > div.mobile_dropdown > div,
#root > div > div.header > nav > header > div.mobile_dropdown > div > i {
	font-size: 30px;
}

.navBar {
	height: 100px;
	border-bottom: 1px solid #ddd;
}

.navBar header {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.title_letter {
	margin-left: 40px;
	margin-top: 10px;
	font-size: 65px;
	font-weight: 500;
}

.logo_nav {
	margin-top: 10px;
	float: left;
}

.logo_nav img {
	height: 80px;
	margin-left: 30px;
}

.mobile_dropdown {
	display: none;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
	list-style: none;
	font-size: 18px;
	width: 100px;
}
.menu li:first-child {
	margin-left: 0;
}
.menu li a {
	color: #666 !important;
	font-family: "Recipekorea" !important;
}
.menu li a:hover {
	color: black !important;
}

.menu {
	margin-top: 40px;
	float: right;
}

.text_editor {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
.text_editor {
	margin-top: 50px;
}
.ck-content {
	height: 200px !important;
}

.active > a > span {
	font-weight: 800;
	font-size: 20px;
	color: black !important;
}

.footer {
	position: relative;

	bottom: 0;

	width: 100%;

	height: 70px;

	padding-top: 25px;
	background: #ccc;
	text-align: center;
	font-size: 15px;
}

@media (max-width: 950px) {
	.menu {
		display: none;
	}
	.mobile_dropdown {
		display: block;
		position: absolute;
		top: 37px;
		right: 2%;
	}
	.menu.transition.visible > div > a {
		/* font-size: 15px; */
	}
}

/* quill editor */
._editor {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
/* ._editor {
	min-height: 500px;
} */
.editor-title {
	display: inline-block;
	font-size: 40px;
	padding-bottom: 20px;
	position: relative;
	font-family: "BMHANNAAir";
}

.note-toolbar {
	border: 1px solid #ddd;
	background-color: #f5f5f5;
}

.note-toolbar > .note-color,
.note-toolbar > .note-fontsize,
.note-toolbar > .note-style,
.note-toolbar > .note-para,
.note-toolbar > .note-insert {
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
}

.note-icon-caret {
	display: none;
}

#root
	> div
	> div.container_body
	> div._editor
	> div
	> div.note-editor.note-frame.panel.panel-default
	> div.note-toolbar.panel-heading
	> div.note-btn-group.btn-group.note-color
	> div
	> div
	> li
	> div {
	height: 200px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 0;
}
#root
	> div
	> div.container_body
	> div._editor
	> div
	> div.note-editor.note-frame.panel.panel-default
	> div.note-toolbar.panel-heading
	> div.note-btn-group.btn-group.note-color
	> div
	> div
	> li
	> div:nth-child(1)
	> div:nth-child(2) {
	margin-right: 10px;
}

.model-header {
	position: relative !important;
}
.modal-header > h4 {
	margin: 0 !important;
}
.close {
	margin: 0 !important;
	position: absolute;
	right: 10px;
	top: 0px;
}

.is-focus .note-placeholder {
	display: none !important;
}

body > div.ui.page.modals.dimmer.transition.visible.active > div {
	width: 100%;
	text-align: center;
	position: relative;
}
body > div.ui.page.modals.dimmer.transition.visible.active > div > div {
	display: inline-block;
	width: auto;
	margin: 0 auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}
#root
	> div
	> div.container_body
	> div._editor.is-focus
	> div:nth-child(3)
	> p
	> img {
	/* width: auto !important; */
	max-width: 100% !important;
}

@media (max-width: 950px) {
	div.container_body > div._editor {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	#root
		> div
		> div.container_body
		> div._editor.is-focus
		> div:nth-child(3)
		> p
		> img {
		width: auto !important;
		/* max-width: 100% !important; */
	}
}

/* summernote css */

.note-popover.popover {
	display: none;
	max-width: none;
}
.note-popover.popover .popover-content a {
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}
.note-popover.popover .arrow {
	left: 20px !important;
}
.note-toolbar {
	position: relative;
}
.note-popover .popover-content,
.note-toolbar {
	margin: 0;
	padding: 0 0 5px 5px;
}
.note-popover .popover-content > .note-btn-group,
.note-toolbar > .note-btn-group {
	margin-top: 5px;
	margin-left: 0;
	margin-right: 5px;
}
.note-popover .popover-content .note-btn-group .note-table,
.note-toolbar .note-btn-group .note-table {
	min-width: 0;
	padding: 5px;
}
.note-popover
	.popover-content
	.note-btn-group
	.note-table
	.note-dimension-picker,
.note-toolbar .note-btn-group .note-table .note-dimension-picker {
	font-size: 18px;
}
.note-popover
	.popover-content
	.note-btn-group
	.note-table
	.note-dimension-picker
	.note-dimension-picker-mousecatcher,
.note-toolbar
	.note-btn-group
	.note-table
	.note-dimension-picker
	.note-dimension-picker-mousecatcher {
	position: absolute !important;
	z-index: 3;
	width: 10em;
	height: 10em;
	cursor: pointer;
}
.note-popover
	.popover-content
	.note-btn-group
	.note-table
	.note-dimension-picker
	.note-dimension-picker-unhighlighted,
.note-toolbar
	.note-btn-group
	.note-table
	.note-dimension-picker
	.note-dimension-picker-unhighlighted {
	position: relative !important;
	z-index: 1;
	width: 5em;
	height: 5em;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC")
		repeat;
}
.note-popover
	.popover-content
	.note-btn-group
	.note-table
	.note-dimension-picker
	.note-dimension-picker-highlighted,
.note-toolbar
	.note-btn-group
	.note-table
	.note-dimension-picker
	.note-dimension-picker-highlighted {
	position: absolute !important;
	z-index: 2;
	width: 1em;
	height: 1em;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC")
		repeat;
}
.note-popover .popover-content .note-style .dropdown-style blockquote,
.note-popover .popover-content .note-style .dropdown-style pre,
.note-toolbar .note-style .dropdown-style blockquote,
.note-toolbar .note-style .dropdown-style pre {
	margin: 0;
	padding: 5px 10px;
}
.note-popover .popover-content .note-style .dropdown-style h1,
.note-popover .popover-content .note-style .dropdown-style h2,
.note-popover .popover-content .note-style .dropdown-style h3,
.note-popover .popover-content .note-style .dropdown-style h4,
.note-popover .popover-content .note-style .dropdown-style h5,
.note-popover .popover-content .note-style .dropdown-style h6,
.note-popover .popover-content .note-style .dropdown-style p,
.note-toolbar .note-style .dropdown-style h1,
.note-toolbar .note-style .dropdown-style h2,
.note-toolbar .note-style .dropdown-style h3,
.note-toolbar .note-style .dropdown-style h4,
.note-toolbar .note-style .dropdown-style h5,
.note-toolbar .note-style .dropdown-style h6,
.note-toolbar .note-style .dropdown-style p {
	margin: 0;
	padding: 0;
}
.note-popover .popover-content .note-color-all .note-dropdown-menu,
.note-toolbar .note-color-all .note-dropdown-menu {
	min-width: 337px;
}
.note-popover .popover-content .note-color .dropdown-toggle,
.note-toolbar .note-color .dropdown-toggle {
	width: 20px;
	padding-left: 5px;
}
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette,
.note-toolbar .note-color .note-dropdown-menu .note-palette {
	display: inline-block;
	margin: 0;
	width: 160px;
}
.note-popover
	.popover-content
	.note-color
	.note-dropdown-menu
	.note-palette:first-child,
.note-toolbar .note-color .note-dropdown-menu .note-palette:first-child {
	margin: 0 5px;
}
.note-popover
	.popover-content
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-palette-title,
.note-toolbar
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-palette-title {
	font-size: 12px;
	margin: 2px 7px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.note-popover
	.popover-content
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-color-reset,
.note-popover
	.popover-content
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-color-select,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-reset,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-select {
	font-size: 11px;
	margin: 3px;
	padding: 0 3px;
	cursor: pointer;
	border-radius: 5px;
}
.note-popover
	.popover-content
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-color-row,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-row {
	height: 20px;
}
.note-popover
	.popover-content
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-color-reset:hover,
.note-toolbar
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-color-reset:hover {
	background: #eee;
}
.note-popover
	.popover-content
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-color-select-btn,
.note-toolbar
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-color-select-btn {
	display: none;
}
.note-popover
	.popover-content
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-holder-custom
	.note-color-btn,
.note-toolbar
	.note-color
	.note-dropdown-menu
	.note-palette
	.note-holder-custom
	.note-color-btn {
	border: 1px solid #eee;
}
.note-popover .popover-content .note-para .note-dropdown-menu,
.note-toolbar .note-para .note-dropdown-menu {
	min-width: 216px;
	padding: 5px;
}
.note-popover .popover-content .note-para .note-dropdown-menu > div:first-child,
.note-toolbar .note-para .note-dropdown-menu > div:first-child {
	margin-right: 5px;
}
.note-popover .popover-content .note-dropdown-menu,
.note-toolbar .note-dropdown-menu {
	min-width: 160px;
}
.note-popover .popover-content .note-dropdown-menu.right,
.note-toolbar .note-dropdown-menu.right {
	right: 0;
	left: auto;
}
.note-popover .popover-content .note-dropdown-menu.right:before,
.note-toolbar .note-dropdown-menu.right:before {
	right: 9px;
	left: auto !important;
}
.note-popover .popover-content .note-dropdown-menu.right:after,
.note-toolbar .note-dropdown-menu.right:after {
	right: 10px;
	left: auto !important;
}
.note-popover .popover-content .note-dropdown-menu.note-check a i,
.note-toolbar .note-dropdown-menu.note-check a i {
	color: #00bfff;
	visibility: hidden;
}
.note-popover .popover-content .note-dropdown-menu.note-check a.checked i,
.note-toolbar .note-dropdown-menu.note-check a.checked i {
	visibility: visible;
}
.note-popover .popover-content .note-fontsize-10,
.note-toolbar .note-fontsize-10 {
	font-size: 10px;
}
.note-popover .popover-content .note-color-palette,
.note-toolbar .note-color-palette {
	line-height: 1;
}
.note-popover .popover-content .note-color-palette div .note-color-btn,
.note-toolbar .note-color-palette div .note-color-btn {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	border: 1px solid #fff;
}
.note-popover .popover-content .note-color-palette div .note-color-btn:hover,
.note-toolbar .note-color-palette div .note-color-btn:hover {
	border: 1px solid #000;
}
