* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black !important;
}

/*
li {
	list-style: none;
}
*/

.navBar {
	height: 100px;
	border-bottom: 1px solid #ddd;
}

.navBar header {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	margin-left: 40px;
	margin-top: 10px;
	font-size: 65px;
	font-weight: 500;
}

.logo {
	margin-top: 10px;
	float: left;
}

.logo img {
	height: 70px;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
	list-style: none;
	font-size: 18px;
}
.menu li:first-child {
	margin-left: 0;
}

.menu li a:hover {
	color: maroon !important;
}

.menu {
	margin-top: 40px;
	float: right;
}
