.brd {
	padding: 50px 0;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	font-family: "BMHANNAAir";
}

.brd span {
	display: inline-block;
	font-size: 40px;
	padding-bottom: 20px;
	position: relative;
}

.writeButton {
	position: absolute;
	top: -15px;
	right: 10px;
}

.brd_head,
.brd_Item {
	padding: 10px 0;
	font-size: 18px;
}
.brd_Item:hover {
	background-color: #f5f5f5 !important;
}
.brd_Item,
.brd_head {
	font-family: "KOMACON";
}
.brd_head {
	border-top: 2px solid cadetblue; /*border-top: 2px solid #ff8c00*/
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}

.brd_Item {
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.brd_Item > div {
	vertical-align: middle !important;
}

.brd_head > div,
.brd_body .brd_Item > div {
	display: inline-block;
	text-align: center;
}

.brd .brd__number {
	width: 7%;
}
.brd .brd__title {
	width: 58%;
}
.brd .brd_body .brd__title {
	text-align: left;
}
.brd .brd__author {
	width: 10%;
}
.brd .brd__date {
	width: 15%;
}
.brd .brd__reads {
	width: 10%;
}

.paging {
	position: relative;
	margin-top: 30px;
	text-align: center;
}

.paging a {
	display: inline-block;
	vertical-align: middle;
}

.paging_bt {
	margin: 0 5px;
}

.paging_bt:hover {
	text-decoration: underline;
}

.paging_number {
	font-size: 18px;
	margin: 0 8px;
	font-weight: 600;
}
.paging_number:hover {
	text-decoration: underline;
}

.on {
	color: #ff8c00 !important;
}
.brd_tag {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
	color: crimson;
}
.brd_item_title {
	display: inline-block;
	font-weight: 600;
}

.brd_item_rep {
	color: indianred;
	font-size: 12px !important;
	padding: 0 !important;
}

div.brd_body > div > div.brd__author > i {
	margin-right: 3px !important;
}
.views__mobile {
	display: none !important;
}

@media (max-width: 950px) {
	.brd {
		width: 100%;
		padding-top: 10px;
	}
	.brd > span {
		margin-left: 10px;
		font-size: 35px;
	}
	.brd__author,
	.brd__date,
	.brd__reads {
		display: inline !important;
		margin: 0;
		font-size: 12px;
	}
	.brd__author {
		margin-left: 10px;
		/* float: left; */
		width: 40% !important;
		text-align: left !important;
	}
	.brd__reads,
	.brd__date {
		/* float: right; */
		margin-left: 8px;
		width: 21% !important;
		text-align: left !important;
		color: gray;
	}

	.brd_head {
		padding: 0;
	}
	.brd_head > div {
		display: none !important;
	}
	.brd_Item {
		/* overflow: hidden; */
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.brd__number {
		display: none !important;
	}
	.brd .brd__title {
		width: 100%;
	}
	.brd_tag {
		font-size: 12px;
	}
	.brd_head {
		font-weight: 700;
	}
	.paging_number {
		font-size: 15px;
		margin: 0 4px;
	}
	.writeButton {
		top: -6px;
		right: 20px;
	}
	.paging > div > a > button {
		padding: 10px !important;
	}
	.paging > div > a > button > div {
		margin-right: 10px !important;
	}
	.views__mobile {
		display: inline !important;
		font-size: 12px !important;
	}
}
